# CDK output
cdk.out/

# Python virtual environments
.venv/
env/
venv/
infra/.venv/
backend/.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Node modules
node_modules/
frontend/node_modules/

# Frontend build artifacts
frontend/dist/
frontend/build/

# MacOS junk files
.DS_Store

# IDE/editor settings
.vscode/
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# AWS SAM/Cfn templates
.aws-sam/

# Environment files
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build outputs
dist
dist-ssr
*.local

# Test coverage
backend/api/.coverage
data/glue/.coverage
data/glue/htmlcov/

# Documentation
docs/info/*
